label {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: -5px 1px;
    background-color: #fff;
    border-radius: 6px;
    border:none;
}

label.alive {
    background-color: #ff44ee;
}

label.dead {
    background-color: #eeeeee;
}

label.last {
    display: block;
    margin: auto;
    margin-top: -20px;
    visibility: hidden;
}

ul {
    display: table;
    margin: 40px auto;
}

#root {
    margin: 50px;
}